
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, 1fr);
  height: 80vh;
  width: 25vw;
  padding: 1em;
  background-color: navy;
}

.chat_window {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 40px 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.messages {
  grid-column: 1 / span 3;
  color: blue;
  background-color:lightgray;
  border: solid 3px #000;
  padding: 10px 20px;
  overflow: scroll;
}