.cardBody {
    height: 300px;
    width: 225px;
    background: plum;
    border: solid 5px gold;
    border-radius: 15px;
    padding: 5px;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, .6);
}


.pokeHeader{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.pokeName {
    align-self: center;
    font-size: 22px;
    color: white;
    text-shadow: -2px 2px 0 #000,
				  2px 2px 0 #000,
				 2px -2px 0 #000,
				-2px -2px 0 #000;
}

.pokeHp {
    align-self: center;
    font-size: 24px;
    color: white;
    text-shadow: -2px 2px 0 #000,
				  2px 2px 0 #000,
				 2px -2px 0 #000,
				-2px -2px 0 #000;
}

.imageWrapper{
    border: 1px solid slategrey;
    height: 160px;
    display:flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    background: navajowhite;
    border: 1px solid gray;
    margin: 5px;
   
}

.pokeImage {
    height: 175px;
  }

.pokeMoves{
    font-size: 20px;
    color: lightgray;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

