.cardBody {
    background: plum;
    height: 300px;
    width: 225px;
    border: solid 5px gold;
    border-radius: 15px;
    padding: 5px;
}


.pokeHeader{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.pokeName {
    align-self: center;
    font-size: 20px;
}

.pokeHp {
    align-self: center;
    font-size: 24px;
}

.imageWrapper{
    border: 1px solid lightgray;
    height: 160px;
    display:flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    background: lightskyblue;
    border: 1px solid gray;
    margin: 5px;
   
}

.pokeImage {
    height: 150px;
  }

.pokeStats{
    font-size: 20px;
}